<template name="PartFive">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="exam">
        <div class=" exam-top">
          <div>{{> React component=Part data=questions }}</div>
        </div>
        <div class="exam-bottom">
          <div class="exam-btm-item exam-btm-note">Note</div>
          <div class="exam-btm-item exam-btm-timer">Timer</div>
          <div class="exam-btm-item exam-btm-next">Next</div>
        </div>
      </div>
    </div>
  </div>
</template>
