.clickable {
  cursor: pointer;
}
.description {
  text-align: center;
}

/* EXAM */
.exam-bottom {
  width: 100%;
  height: auto;
  text-align: center;
}
.exam-btm-item {
  float: left;
  min-height: 50px;
}
.exam-btm-note {
  width: 20%;
}
.exam-btm-timer {
  width: 60%;
}
.exam-btm-next {
  width: 20%;
}
