<template name="Full">
  <section class="layout-section">
      <div class="container-fluid">
          <div class="row text-center">
              <div class="col-md-8 col-md-offset-2">
                  <h2>FULL EXAM</h2>
              </div>
          </div>
          <div class="row text-center">
            <div class="col-md-12 ">
              {{#each fulls}}
                <div class="clickable col-md-3 col-sm-6">
                  <ul class="plan ">
                    <li class="plan-head">{{ text }}</li>
                    <li class="main-price">This is {{ text }}</li>
                  </ul>
                </div>
              {{/each}}
            </div>
          </div>
      </div>
  </section>
</template>
