<template name="Part">
  <section class="layout-section">
      <div class="container-fluid">
          <div class="row text-center">
              <div class="col-md-8 col-md-offset-2">
                  <h2>PART</h2>
              </div>
          </div>
          <div class="row text-center">
            <div class="col-md-12">
              {{#each parts}}
                <div class="clickable col-md-3 col-sm-6">
                  <ul class="plan">
                    <li class="plan-head">
                      <a href="/part/1/description">{{ text }}</a>
                    </li>
                    <li class="main-price">This is {{ text }}</li>
                  </ul>
                </div>
              {{/each}}
            </div>
          </div>
      </div>
  </section>
</template>
