<template name="Description">
  <div class="description">
    <h1>Part 1</h1>
    <p>Description: For each questions you will hear something and then you will make the correct answer on your answer sheet.</p>
    <a class="start-p5 btn btn-lg btn-success">Start 5</a>
    <a class="btn btn-lg btn-success" href="/part/6/exam">Start 6</a>
    <a class="btn btn-lg btn-success" href="/part/7/exam">Start 7</a>
  </div>
</template>
