<template name="Banner">  
  <div id="home">
      <div class="container">
          <div class="row ">
              <div class="col-md-12 col-sm-12">
                  <h1 class="head-main">TOEIC LIVE</h1>
                  <span class="head-sub-main">Practicing TOEIC Exam, for free</span>
              </div>
          </div>
      </div>
  </div>
</template>
