<template name="Header">
  <header>
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
                  <a class="navbar-brand" href="htttp://www.binarytheme.com">TOEIC LIVE</a>
              </div>
              <div class="collapse navbar-collapse navbar-ex1-collapse">
                  <ul class="nav navbar-nav navbar-right">
                      <li>
                          <a href="#home">PART</a>
                      </li>
                      <li>
                          <a href="#services">READING</a>
                      </li>
                      <li>
                          <a href="#price-sec">LISTENING</a>
                      </li>
                      <li>
                          <a href="#contact-sec">FULL EXAM</a>
                      </li>
                      <li>
                          <a href="#contact-sec">ABOUT US</a>
                      </li>
                      <li>
                          <a href="#contact-sec">CONTACT US</a>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>
  </header>
</template>
