<template name="Main">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>TOEIC LAB</title>
      <link href="/assets/css/bootstrap.css" rel="stylesheet" />
      <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
      <link href="/assets/css/style.css" rel="stylesheet" />
      <link href="/assets/css/custom.css" rel="stylesheet" />
      <link href="/assets/css/part-five.css" rel="stylesheet" />
      <link href="/assets/css/part-seven.css" rel="stylesheet" />
      <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <div id="wrap">
      <!-- Navigation -->
      {{> Header}}
      {{> Banner}}
      <section class="layout-section">
        {{> Template.dynamic template=main }}
      </section>
    </div>
      {{> Footer}}
      <!-- <script src="/assets/plugins/jquery-1.10.2.js"></script>
      <script src="/assets/plugins/bootstrap.js"></script>
      <script src="/assets/plugins/4jquery.parallax-1.1.3.js"></script>
      <script src="/assets/js/custom.js"></script> -->
  </body>
</template>
